.textMediaGroup__gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: calc(var(--spacing) * 8);

  @media (min-width: 768px) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    gap: calc(var(--spacing) * 12);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.testimonialWithMedia__grid {
  display: grid;
  grid-template-columns: 380px calc(100% - 380px - var(--space-xl));
  gap: var(--space-xl);

  &[aria-details='reversed'] {
    grid-template-columns: calc(100% - 380px - var(--space-xl)) 380px;

    & > [data-order='1'] {
      order: 2;
    }
    & > [data-order='2'] {
      order: 1;
    }
  }

  @media (max-width: 991px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: var(--space-m);

    &[aria-details='reversed'] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  @media (max-width: 767px) {
    gap: var(--space-s);
  }

  @media (max-width: 575px) {
    grid-template-columns: minmax(0, 1fr);

    &[aria-details='reversed'] {
      grid-template-columns: minmax(0, 1fr);

      & > [data-order='1'] {
        order: 1;
      }
      & > [data-order='2'] {
        order: 2;
      }
    }
  }

  &.testimonialWithMedia__breakEarly {
    @media (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}

.footerNav__grid {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc(var(--spacing) * 8);

  & > .footerNav__gridColumn {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 12);
  }

  @media (width >= 575px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (width >= 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (width >= 992px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (width >= 1280px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}