.textMediaGroup__gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: calc(var(--spacing) * 8);

  @media (min-width: 768px) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    gap: calc(var(--spacing) * 12);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}