.testimonialWithMedia__grid {
  display: grid;
  grid-template-columns: 380px calc(100% - 380px - var(--space-xl));
  gap: var(--space-xl);

  &[aria-details='reversed'] {
    grid-template-columns: calc(100% - 380px - var(--space-xl)) 380px;

    & > .first {
      order: 2;
    }
    & > .second {
      order: 1;
    }
  }

  @media (max-width: 991px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: var(--space-m);

    &[aria-details='reversed'] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  @media (max-width: 767px) {
    gap: var(--space-s);
  }

  @media (max-width: 575px) {
    grid-template-columns: minmax(0, 1fr);

    &[aria-details='reversed'] {
      grid-template-columns: minmax(0, 1fr);

      & > .first {
        order: 1;
      }
      & > .second {
        order: 2;
      }
    }
  }

  &.testimonialWithMedia__breakEarly {
    @media (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
